.title-form {
  display: flex;
  justify-content: space-between;
  height: 25px;
  align-items: baseline;
  overflow: hidden;

  mat-dialog-actions,
  button{
    height: 25px;
    margin: 0;
    min-height: auto;
    padding: 0;
  }
}

form {
  max-width: 600px;

  input,
  textarea {
    padding: 13px 20px;
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #848484;
  }
}
